* { margin: 0; padding: 0 }
body { font: 12px "微软雅黑", Arial, Helvetica, sans-serif; background-color: #F2F2F2;
}
img { border: 0; display: block }
ul { list-style: none; }
a:link, a:visited{text-decoration: none; }
input:-ms-input-placeholder {text-align: center;}
input::-webkit-input-placeholder{text-align: center;}
.header{
    background: #3A71DA;
    height: 80px;
    padding:13px 30px 0px 30px;
    margin-bottom: 0px;
}
.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a,.dropdown-menu>li>a{
    color: #ffffff;
}
.search{
    width: 250px!important;
    padding-right: 25px;
    background:url("../images/search.jpg") no-repeat right #FFF;
}
.menu{
    margin-bottom: 20px;
}
.dropdown-menu{
    background-color: #3A71DA;
}
.dropdown-menu>li>a{
    font-size: 12px;
    text-align: center;
    margin:0px 15px;
}



