.nav-tabs{
    border-bottom: 2px solid #DDDDDD;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border:2px solid #ddd;
    border-bottom-color:transparent;
}
.nav-tabs>li{
    margin-bottom:-2px;
}
.right .panel{
    padding-top: 14px;
}
.title-display{
    display:block;
    float:left;
    font-size: 13px;
    margin-right: 20px;
    margin-top: 6px;
}
.real-time-display{
    display:block;
    float:right;
    font-size: 13px;
    margin-top: 6px;
}
.tab-content{
    padding-top: 10px;
}
.option-title{
    background-color: #2D5AB0;
    display:inline-block;
    line-height: 25px;
    width: 90px;
    height: 25px;
    margin: auto;
    color: #A8AFBC;
}
.submit-display{
    float: right;
    width: 40px;
    height: 25px;
}
.line-row{
    padding-top: 20px;
}
.group-line{
    height: 140px;
    border:1px solid;
}
.lastest-row{
    padding-top:20px;
    text-align: center;
    font-weight: 700;
}
.lastest-row-value{
    text-align: center;
    padding-bottom: 10px;
    font-weight: 600;
}
hr{
    margin-top: 10px;
    margin-bottom:10px;
    border:1px solid #000;
}